body{
    font-family: 'Bookman Old Style', Helvetica, sans-serif;
}

#main{
    background: #f2f2f2;
    max-width: 500px;
    margin: auto;
    padding: 1em;
    border-radius: 5px;
}

#pic{
    margin: auto;
}

#portrait{
    display: block;
    margin: auto;
    max-width: 90%;
    border: .75em solid white;
    border-radius: 5px;
    z-index: -1;
}

#logo{
    width: 75px;
    float: right;
    margin: -30px 50% 0px 0;
    transform: translate(50%, 0);
    z-index: 1;
}

#bio{
    text-align: center;
    color: #414141;
}

h1{
    font-size: 20pt;
    font-family: 'Chango', sans-serif;
    text-decoration: none;
    margin: 1em 0 -.2em 0;
}

h2{
    font-size: 14pt;
    margin: 0;
}

h3{
    font-size: 12pt;
    margin: 0;
}
h4{
    font-size: 15pt;
    margin: 0;
    font-family: 'Chango', sans-serif;
}

a {
    color: #414141; 
}

#info{
    width: 60%;
    margin: auto;
    color: #646464;
    text-align: justify;
}

.icon{
    width: 40px;
    height: auto;
}

#gibberish {
    font-style: italic;
    text-align: justify;
    color: #646464;
    padding: 0 2em 0 2em;
}

.said{
    color: #414141;
    text-align: right;
    margin-top: -.75em;
}

.divider{
    background: white;
    height: 20px;
    margin: .5em 0 .5em 0;
    border-radius: 5px;
}